header {
    max-width: 1000px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 320px 660px;
    justify-content: center;
    grid-gap: 20px;
}

.profile_img{
    margin: auto;
    border-radius: 50%;
}

.profile_img button{
    border-radius: 50%;
    border: 0px;
}
.profile_img button img{
    border-radius: 50%;
}



.top_profile_info h1 {
    display: inline;
    padding-right: 30px;
}

.profile_info ul {
    list-style: none;
    display: flex;
}

.profile_info ul li {
    margin: 20px;
}

main {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    grid-gap: 50px;
}

.content_box {
    max-width: 300px;
    max-height: 300px;
}

.content_box img {
    width: 100%
}

.hidden_box{
    display: none;

    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    bottom: 305px;
    padding: 0;
    margin: 0;
}

.hidden_box li {
    color: white;
    opacity: 1;
    list-style: none;
    margin: auto;
}

.content_box:hover .hidden_box {
    display: flex;
    opacity: 50%;
}